<!DOCTYPE html>
<html>
<head>
    <title>Sélection</title>
    <link rel="stylesheet" href="{{ asset('css/arena.css') }}"></head>
<body>
<div class="container">
    <div class="box">
        <h2>Choisis ton Combattant</h2>
        {% for message in app.flashes('success') %}<div class="flash-success">{{ message }}</div>{% endfor %}
        {% for message in app.flashes('error') %}<div class="error-list">{{ message }}</div>{% endfor %}

        <table>
            <tr><th>Nom</th><th>Stats Réelles</th><th>Status</th><th>Action</th></tr>
            {% for g in gladiators %}
                <tr>
                    <td><strong>{{ g.name }}</strong></td>
                    <td>❤️ {{ g.healthPoints }} HP | ⚔️ ATK: {{ g.statAtkPercent }}% | 🛡️ DEF: {{ g.statDefPercent }}%</td>
                    <td>
                        {% if g.status == 'alive' %}
                            <span class="badge badge-alive">PRÊT</span>
                        {% else %}
                            <span class="badge badge-dead">ÉPUISÉ</span>
                        {% endif %}
                    </td>
                    <td>
                        <a href="{{ path('app_login', {id: g.id}) }}"><button style="padding: 5px; font-size: 14px;">Incarner</button></a>
                    </td>
                    <td>
                        {% if g.status == 'exhausted' %}
                            {# Bouton pour le scénario 2 (Exception BDD) #}
                            <a href="{{ path('app_cheat_attack', {id: g.id}) }}"><button style="background: #343a40; font-size: 12px; padding: 5px;">Achever (Cheat)</button></a>
                        {% endif %}
                    </td>
                </tr>

            {% endfor %}
            <div class="box" style="margin-bottom: 20px; text-align: center; background: #fff3cd; border: 2px solid #ffeeba;">
                <h3 style="color: #856404; margin-top: 0;">👑 Panneau de Démo (Trigger Tests)</h3>

                {# Bouton pour le scénario 4 (Mass Update) #}
                <a href="{{ path('app_emperor_bonus') }}"><button style="background: #ffc107; color: #000; width: auto;">+ Bonus de l'Empereur (SQL Brut)</button></a>
            </div>

            {# Dans la boucle de ton tableau <table>, rajoute une colonne "Test" : #}
        </table>
        <br><a href="{{ path('app_home') }}">⬅ Retour</a>
    </div>
</div>
</body>
</html>
